<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seafire.cworker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 友盟分享权限 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.seafire.cworker.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.demo.cworker.permission.MIPUSH_RECEIVE" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.seafire.cworker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.seafire.cworker.Activity.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity android:name="com.seafire.cworker.MainActivity" />
        <activity
            android:name="com.seafire.cworker.Activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.seafire.cworker.Activity.CheckPhoneActivity" />
        <activity android:name="com.seafire.cworker.Activity.CheckEmailActivity" />
        <activity android:name="com.seafire.cworker.Activity.WebViewActivity" />
        <activity android:name="com.seafire.cworker.Activity.HomeDetailActivity" />
        <activity android:name="com.seafire.cworker.Activity.PDFActivity" />
        <activity android:name="com.seafire.cworker.Activity.SearchResultActivity" />
        <activity android:name="com.seafire.cworker.Activity.CollectActivity" />
        <activity android:name="com.seafire.cworker.Activity.ScanActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name="com.seafire.cworker.Activity.WrapActivity" />
        <activity android:name="com.seafire.cworker.Activity.CameraActivity" />
        <activity android:name="com.seafire.cworker.Activity.PersonalActivity" />
        <activity android:name="com.seafire.cworker.Activity.AddressActivity" />
        <activity android:name="com.seafire.cworker.Activity.VIPActivity" />
        <activity android:name="com.seafire.cworker.Activity.BuyActivity" />
        <activity android:name="com.seafire.cworker.Activity.SettingActivity" />
        <activity android:name="com.seafire.cworker.Activity.AboutActivity" />
        <activity android:name="com.seafire.cworker.Activity.SuggestActivity" />
        <activity android:name="com.seafire.cworker.Activity.HelpActivity" />
        <activity android:name="com.seafire.cworker.Activity.TypeActivity" />
        <activity android:name="com.seafire.cworker.Activity.CheckActivity" />
        <activity android:name="com.seafire.cworker.Activity.RecommandActivity" />
        <activity android:name="com.seafire.cworker.Activity.CollectHistoryActivity" />
        <activity android:name="com.seafire.cworker.Activity.LaunchActivity" />
        <activity android:name="com.seafire.cworker.Activity.DocActivity" />
    </application>

</manifest>