<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seafire.cworker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- JMessage Demo required for record jmui_audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 友盟分享权限 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.seafire.cworker.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.seafire.cworker.permission.MIPUSH_RECEIVE" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="jchat.db" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.seafire.cworker.database.UserEntry, com.seafire.cworker.database.FriendEntry,com.seafire.cworker.database.FriendRecommendEntry" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".Activity.CheckPhoneActivity" />
        <activity android:name=".Activity.CheckEmailActivity" />
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".Activity.HomeDetailActivity" />
        <activity android:name=".Activity.PDFActivity" />
        <activity android:name=".Activity.SearchResultActivity" />
        <activity android:name=".Activity.CollectActivity" />
        <activity android:name=".Activity.ScanActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name=".Activity.WrapActivity" />
        <activity android:name=".Activity.CameraActivity" />
        <activity android:name=".Activity.PersonalActivity" />
        <activity android:name=".Activity.AddressActivity" />
        <activity android:name=".Activity.VIPActivity" />
        <activity android:name=".Activity.BuyActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.SuggestActivity" />
        <activity android:name=".Activity.HelpActivity" />
        <activity android:name=".Activity.TypeActivity" />
        <activity android:name=".Activity.CheckActivity" />
        <activity android:name=".Activity.RecommandActivity" />
        <activity android:name=".Activity.CollectHistoryActivity" />
        <activity android:name=".Activity.LaunchActivity" />
        <activity android:name=".Activity.DocActivity" />
        <activity
            android:name="io.jchat.android.chatting.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="io.jchat.android.activity.ChatDetailActivity" />
        <activity android:name="io.jchat.android.activity.MeInfoActivity" />
        <activity
            android:name="io.jchat.android.activity.GroupSettingActivity"
            android:theme="@style/group_setting_dialog" />
        <activity android:name="io.jchat.android.activity.FriendInfoActivity" />
        <activity android:name="io.jchat.android.activity.CreateGroupActivity" />
        <activity android:name="io.jchat.android.activity.PickPictureTotalActivity" />
        <activity android:name="io.jchat.android.activity.PickPictureActivity" />
        <activity android:name="io.jchat.android.activity.BrowserViewPagerActivity" />
        <activity android:name="io.jchat.android.activity.NotificationSettingActivity" />
        <activity
            android:name="io.jchat.android.activity.ResetNickNameActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="io.jchat.android.activity.SelectAreaActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name="io.jchat.android.activity.SelectFriendActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="io.jchat.android.activity.EditSignatureActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity android:name="io.jchat.android.activity.MembersInChatActivity" />
        <activity android:name="io.jchat.android.activity.CropImageActivity" />
        <activity android:name="io.jchat.android.activity.FriendRecommendActivity" />
        <activity android:name="io.jchat.android.activity.SearchFriendActivity" />
        <activity android:name="io.jchat.android.activity.SearchFriendDetailActivity" />
        <activity android:name="io.jchat.android.activity.SendInvitationActivity" />
        <activity android:name="io.jchat.android.activity.SendFileActivity" />
        <activity android:name="io.jchat.android.activity.AtMemberActivity" />
        <activity android:name="io.jchat.android.activity.FrowardToPersonActivity" />
        <activity android:name="io.jchat.android.activity.CreateGroupNameActivity" />
    </application>

</manifest>