body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:116px;
  top:32px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:115px;
  top:176px;
  width:375px;
  height:197px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:197px;
}
#u3 {
  position:absolute;
  left:2px;
  top:90px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:116px;
  top:32px;
  width:375px;
  height:64px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:32px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:121px;
  top:42px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:129px;
  top:42px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:137px;
  top:42px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:145px;
  top:42px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:153px;
  top:42px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:162px;
  top:34px;
  width:45px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u19 {
  position:absolute;
  left:0px;
  top:3px;
  width:45px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:210px;
  top:36px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:283px;
  top:32px;
  width:42px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:458px;
  top:40px;
  width:26px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:459px;
  top:41px;
  width:23px;
  height:9px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:9px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:484px;
  top:42px;
  width:3px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:414px;
  top:38px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:242px;
  top:68px;
  width:123px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:119px;
  top:61px;
  width:32px;
  height:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:28px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:116px;
  top:96px;
  width:375px;
  height:71px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:71px;
}
#u37 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:415px;
  top:111px;
  width:44px;
  height:44px;
  color:#666666;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:117px;
  top:170px;
  width:373px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u41 {
  position:absolute;
  left:462px;
  top:124px;
  width:22px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
}
#u42 {
  position:absolute;
  left:2px;
  top:1px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:132px;
  top:125px;
  width:123px;
  height:16px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:132px;
  top:193px;
  width:123px;
  height:16px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:378px;
  top:193px;
  width:101px;
  height:16px;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:117px;
  top:219px;
  width:373px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u50 {
  position:absolute;
  left:132px;
  top:242px;
  width:123px;
  height:16px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:378px;
  top:243px;
  width:101px;
  height:16px;
  text-align:right;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:117px;
  top:270px;
  width:373px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u55 {
  position:absolute;
  left:132px;
  top:291px;
  width:123px;
  height:16px;
  color:#666666;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:378px;
  top:291px;
  width:101px;
  height:16px;
  text-align:right;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:117px;
  top:317px;
  width:373px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u60 {
  position:absolute;
  left:133px;
  top:340px;
  width:123px;
  height:16px;
  color:#666666;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:361px;
  top:339px;
  width:119px;
  height:16px;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:117px;
  top:368px;
  width:373px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u65 {
  position:absolute;
  left:117px;
  top:162px;
  width:373px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u66 {
  position:absolute;
  left:403px;
  top:70px;
  width:77px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
