<!doctype html>
<html class="no-js" lang="" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Chat</title>
    </head>

    <script src="js/socket.io.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <body>

        <div id="app">{{message}}</div>

        <div id="app-2">
            <span v-bind:title="message">
                提示信息
            </span>
        </div>

        <div id="app-3">
            <p v-if="seen">看到我了</p>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">{{todo.text}}</li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">点击翻转</button>
        </div>

        <div id="app-6">
            <p>{{message}}</p>
            <input type="text" v-model="message">
        </div>

        <div id="app-7">
            <ol>
                <todo-item v-for="item in groceryList"
                           v-bind:todo="item">
                </todo-item>
            </ol>
        </div>

        <div id="app-8">
            <a :href="url">123</a>
            <a @click="doSomething">456</a>
        </div>

        <div id="todo-list-example">
            <input v-model="newTodoText"
                    v-on:keyup.enter="addNewTodo"
                    placeholder="Add a todo">
            <ul>
                <li is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="index"
                    v-bind:title="todo"
                    v-on:remove="todos.splice(index, 1)">

                </li>
            </ul>
        </div>

        <div id="app-9">
            <li v-for="n in eventNum">{{n}}</li>
        </div>


    <script>
        new Vue({
            el: "#app-9",
            data: {
                num: [
                        1,2,3,4,5,6
                ]
            },
            computed: {
                eventNum: function () {
                    return this.num.filter(function (item) {
                        return item % 2;
                    })
                }
            }
        })



        Vue.component('todo-item', {
            template: '<li>{{title}}<button v-on:click="$emit(\'remove\')">X</button></li>',
            props: ['title']
        })

//        Vue.component('todo-item', {
//            template: '\
//                <li>\
//                  {{ title }}\
//                  <button v-on:click="$emit(\'remove\')">X</button>\
//                </li>\
//              ',
//            props: ['title']
//        })

        new Vue({
            el: '#todo-list-example',
            data: {
                newTodoText: '123',
                todos: [
                        "123",
                        "456",
                        "789"
                ]
            },
            methods: {
                addNewTodo: function () {
                    this.todos.push(this.newTodoText);
                    this.newTodoText=''
                }
            }
        })

        new Vue({
            el: '#app',
            data: {
                message: 'hello vue'
            }
        });

        new Vue({
            el: '#app-2',
            data: {
                message: '页面加载' + new Date()
            }
        })

        var vue3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: "javascript"},
                    {text: "vue"},
                    {text: "java"}
                ]
            }
        });

        new Vue({
            el: '#app-5',
            data: {
                message: "hello vue js"
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        new Vue({
            el: "#app-6",
            data: {
                message: 'hello vue js'
            }
        })

        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        })

        new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: '蔬菜' },
                    { id: 1, text: '奶酪' },
                    { id: 2, text: '随便其他什么人吃的东西' }
                ]
            }
        })

        new Vue({
            el: "#app-8",
            data: {
                url: "http://www.baidu.com"
            },
            methods: {
                doSomething: function () {
                    alert("99999")
                }
            }
        })

//        var socket = io("http://192.168.68.61:3030/p2pim");
//        socket.on('connect',function () {
//            var send = {};
//            send.userCode='android1';
//            send.token='android1';
//            socket.emit('join',JSON.stringify(send),function (ack) {
//                alert(ack);
//            });
//        });

    </script>

    </body>
</html>
