body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:491px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:116px;
  top:1580px;
  width:375px;
  height:49px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:154px;
  top:1587px;
  width:20px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:132px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:116px;
  top:1575px;
  width:373px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u7 {
  position:absolute;
  left:325px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:233px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:437px;
  top:1588px;
  width:22px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:418px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:253px;
  top:1588px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:344px;
  top:1588px;
  width:24px;
  height:21px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:116px;
  top:40px;
  width:375px;
  height:667px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u20 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:116px;
  top:40px;
  width:375px;
  height:64px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:116px;
  top:40px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:121px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:129px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:137px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:145px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:153px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:162px;
  top:42px;
  width:45px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:3px;
  width:45px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:210px;
  top:44px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:283px;
  top:40px;
  width:42px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:458px;
  top:48px;
  width:26px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:459px;
  top:49px;
  width:23px;
  height:9px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:9px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:484px;
  top:50px;
  width:3px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:414px;
  top:46px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:242px;
  top:76px;
  width:123px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:116px;
  top:1580px;
  width:375px;
  height:49px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:154px;
  top:1587px;
  width:20px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:132px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:116px;
  top:1575px;
  width:373px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u58 {
  position:absolute;
  left:325px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:233px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:437px;
  top:1588px;
  width:22px;
  height:20px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:418px;
  top:1612px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:253px;
  top:1588px;
  width:20px;
  height:20px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:344px;
  top:1588px;
  width:24px;
  height:21px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:116px;
  top:104px;
  width:375px;
  height:45px;
  font-size:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:140px;
  top:104px;
  width:67px;
  height:45px;
  text-align:center;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:45px;
}
#u73 {
  position:absolute;
  left:0px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:270px;
  top:105px;
  width:67px;
  height:45px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:45px;
}
#u75 {
  position:absolute;
  left:0px;
  top:14px;
  width:67px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:116px;
  top:156px;
  width:375px;
  height:334px;
  font-size:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:334px;
}
#u77 {
  position:absolute;
  left:2px;
  top:159px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:117px;
  top:144px;
  width:373px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u79 {
  position:absolute;
  left:284px;
  top:143px;
  width:40px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:4px;
  width:40px;
  height:3px;
}
#u80 {
  position:absolute;
  left:117px;
  top:150px;
  width:373px;
  height:10px;
}
#u80_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u80_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u81 {
  position:absolute;
  left:139px;
  top:172px;
  width:276px;
  height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:139px;
  top:195px;
  width:241px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
#u84 {
  position:absolute;
  left:0px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:139px;
  top:229px;
  width:276px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:34px;
}
#u86 {
  position:absolute;
  left:0px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:415px;
  top:163px;
  width:63px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u88 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:117px;
  top:263px;
  width:373px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u90 {
  position:absolute;
  left:138px;
  top:283px;
  width:276px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:138px;
  top:306px;
  width:241px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
#u93 {
  position:absolute;
  left:0px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:138px;
  top:340px;
  width:276px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:34px;
}
#u95 {
  position:absolute;
  left:0px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:414px;
  top:274px;
  width:63px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u97 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:116px;
  top:374px;
  width:373px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u99 {
  position:absolute;
  left:138px;
  top:394px;
  width:276px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:138px;
  top:417px;
  width:241px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:34px;
}
#u102 {
  position:absolute;
  left:0px;
  top:10px;
  width:241px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:138px;
  top:451px;
  width:276px;
  height:34px;
  font-size:12px;
  color:#999999;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:34px;
}
#u104 {
  position:absolute;
  left:0px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:414px;
  top:385px;
  width:63px;
  height:34px;
  font-size:12px;
  color:#CCCCCC;
  text-align:right;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:34px;
}
#u106 {
  position:absolute;
  left:0px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:116px;
  top:485px;
  width:373px;
  height:10px;
}
#u107_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u107_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u108 {
  position:absolute;
  left:380px;
  top:104px;
  width:89px;
  height:45px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:45px;
}
#u109 {
  position:absolute;
  left:0px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:116px;
  top:660px;
  width:188px;
  height:47px;
  color:#FFFFFF;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:47px;
}
#u111 {
  position:absolute;
  left:2px;
  top:16px;
  width:184px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:302px;
  top:660px;
  width:188px;
  height:47px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:47px;
}
#u113 {
  position:absolute;
  left:2px;
  top:16px;
  width:184px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:400px;
  top:229px;
  width:80px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u115 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:400px;
  top:341px;
  width:80px;
  height:31px;
  font-size:11px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u117 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:402px;
  top:454px;
  width:80px;
  height:31px;
  font-size:11px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u119 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
