html{color: #000;background: #fff;overflow-y: scroll;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
html *{outline: 0;-webkit-text-size-adjust: none;-webkit-tap-highlight-color: rgba(0,0,0,0)}
html,body{width:100%;height:100%;font-family: sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin: 0;padding: 0}


a,button,input,optgroup,select,textarea {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.row{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.col{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.rowCell{
     display:flex;
     display: -webkit-box;
     display: -webkit-flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     background-color: #ffffff;
     font-size: 0.16rem;
     height: 0.45rem;
     padding-left: 0.1rem;
     padding-right: 0.1rem;
 }

.rowDetailCell{
    display:flex;
    display: -webkit-box;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    font-size: 0.16rem;
    padding: 0.1rem;
}


.flexAll{
    -webkit-box-flex: 1;-webkit-flex: 1;flex: 1;
}

.leftText{
    color: #959595;
}

.rightText{
    color: #676767;
}

.divide{
    background-color: #CBCACB;
    height: 0.01rem;
    width: 96%;
    margin-left: 0.1rem;
}

.imageStyle{
    width: 0.6rem;
    height: 0.6rem;
    margin-left: 0.1rem;
}

#toastMessage{
    position: absolute;
    border-radius: 0.15rem;
    width: 2.5rem;
    height: 0.2rem;
    cursor:pointer;
    text-align: center;
    vertical-align: middle;
}
