<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yankon.smart">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data android:value="567a6e3967e58efa8100198f" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <receiver android:name=".WifiStateReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="com.yankon.smart.providers.YanKonProvider"
            android:authorities="com.yankon.smart"
            android:enabled="true"
            android:exported="false" />

        <!--<activity-->
            <!--android:name=".MainActivity"-->
            <!--android:screenOrientation="portrait" />-->

        <activity android:name=".activities.LightActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activities.LightGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activities.ScenesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activities.ScheduleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activities.AddLightGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activities.AddScenesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activities.LightInfoActivity"
            android:label="@string/title_activity_light_info"
            android:screenOrientation="portrait" />
<!--android:theme="@style/translucent"-->
        <service
            android:name=".services.NetworkReceiverService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.NetworkSenderService"
            android:exported="false" />

        <activity
            android:name=".activities.AddScheduleActivity"
            android:label="@string/title_activity_add_schedule"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".activities.PickTargetActivity"
            android:label="@string/title_activity_pick_target"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddLightsActivity"
            android:label="@string/title_activity_add_lights2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RepeatDaysActivity"
            android:label="@string/title_activity_repeat_days"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activities.NetworkBuildActivity"
            android:label="@string/title_activity_network_build"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CheckUpdateActivity"
            android:label="@string/check_firmware_update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChooseSiteActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddSwitchsActivity"
            android:label="@string/title_activity_add_switchs"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SwitchInfoActivity"
            android:label="@string/on_off"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.EditLightInfoActivity"
            android:label="@string/on_off"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.NetworkBuildPreActivity"
            android:label="@string/on_off"
            android:screenOrientation="portrait" />

        <service android:name=".music.dlna.DLNAService" />
        <service android:name="com.yankon.smart.music.PlayerService"/>
        <activity android:name=".activities.AudioActivity"
            android:label="@string/on_off"
            android:screenOrientation="portrait" />

        <activity android:name=".activities.VideoActivity"
            android:screenOrientation="portrait"/>

        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <activity android:name="com.kii.tutk.TUTKVideoActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
