<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xunao.diaodiao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- JMessage Demo required for record jmui_audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 友盟分享权限 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <permission
        android:name="com.xunao.diaodiao.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="com.seafire.cworker.permission.MIPUSH_RECEIVE" />
    <!-- 这里com.xiaomi.mipushdemo改成app的包名 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/FullActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f7abdf589693fd6baeabb2edeb044b0b">
            //开发者申请的key</meta-data>

        <meta-data android:name="Mob-AppKey" android:value="20ad18688fcee"/>
        <meta-data android:name="Mob-AppSecret" android:value="a0536022d8f2db4260ae91feb3d84878"/>

        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Activity.CheckPhoneActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Activity.CheckEmailActivity" />
        <activity android:name=".Activity.WebViewActivity" />
        <activity android:name=".Activity.HomeDetailActivity" />
        <activity android:name=".Activity.PDFActivity" />
        <activity android:name=".Activity.SearchResultActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Activity.CollectActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activity.ScanActivity" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity android:name=".Activity.WrapActivity" />
        <activity android:name=".Activity.CameraActivity" />
        <activity android:name=".Activity.PersonalActivity" />
        <activity android:name=".Activity.AddressActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".Activity.VIPActivity" />
        <activity android:name=".Activity.BuyActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.SuggestActivity" />
        <activity android:name=".Activity.HelpActivity" />
        <activity android:name=".Activity.TypeActivity" />
        <activity android:name=".Activity.CheckActivity" />
        <activity android:name=".Activity.RecommandActivity" />
        <activity android:name=".Activity.CollectHistoryActivity" />
        <activity
            android:name=".Activity.LaunchActivity"
            android:theme="@style/FullActivity" />
        <activity android:name=".Activity.DocActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity android:name=".Activity.SelectMemoryActivity" />
        <activity android:name=".Activity.SelectCompanyActivity" />
        <activity android:name=".Activity.SelectSkillActivity" />
        <activity android:name=".Activity.SelectNormalActivity" />
        <activity android:name=".Activity.MyFavoriteActivity" />
        <activity android:name=".Activity.MyRatingActivity" />
        <activity android:name=".Activity.ComplaintRecordActivity" />
        <activity android:name=".Activity.RecordDetailActivity" />
        <activity android:name=".Activity.MessageActivity"/>
        <activity android:name=".Activity.FeedBackDetailActivity"/>
        <activity android:name=".Activity.EditPersonalActivity"/>
        <activity android:name=".Activity.ComponyPersonalActivity"/>
        <activity android:name=".Activity.EditCompanyActivity"/>
        <activity android:name=".Activity.EditSkillActivity"/>
        <activity android:name=".Activity.NormalPersonalActivity"/>
        <activity android:name=".Activity.MoneyActivity"/>
        <activity android:name=".Activity.BankActivity"/>
        <activity android:name=".Activity.AddBankActivity"/>
        <activity android:name=".Activity.FindProjectActivity"/>
        <activity android:name=".Activity.HelpDetailActivity"/>
        <activity android:name=".Activity.JoinActivity"/>
        <activity android:name=".Activity.DocDetailActivity"/>
        <activity android:name=".Activity.ProjectDetailActivity"/>
        <activity android:name=".Activity.JoinDetailActivity"/>
        <activity android:name=".Activity.ReleaseSkillActivity"/>
        <activity android:name=".Activity.ReleaseCompanyActivity"/>
        <activity android:name=".Activity.ReleaseProjActivity"/>
        <activity android:name=".Activity.ReleaseProjSecondActivity"/>
        <activity android:name=".Activity.ReleaseProjThirdActivity"/>
        <activity android:name=".Activity.PayActivity"/>
        <activity android:name=".Activity.ReleaseHelpActivity"/>
        <activity android:name=".Activity.ReleaseSkillInforActivity"/>
        <activity android:name=".Activity.ReleaseSkillSureInfoActivity"/>
        <activity android:name=".Activity.OrderCompProjActivity"/>
        <activity android:name=".Activity.OrderCompProjDetailActivity"/>
        <activity android:name=".Activity.OrderProjProgressActivity"/>
        <activity android:name=".Activity.SignDetailActivity"/>
        <activity android:name=".Activity.ApplyActivity"/>
        <activity android:name=".Activity.ApplyDetailActivity"/>
        <activity android:name=".Activity.GetMoneyActivity"/>
        <activity android:name=".Activity.ReleaseSKillTypeActivity"/>
        <activity android:name=".Activity.OrderSkillCompDetailActivity"/>
        <activity android:name=".Activity.OrderSkillCompRecieveDetailActivity"/>
        <activity android:name=".Activity.OrderProjRecieveProgressActivity"/>
        <activity android:name=".Activity.AppealActivity"/>
        <activity android:name=".Activity.SkillRecieveProjectDetailActivity"/>
        <activity android:name=".Activity.SkillProjReceiveProgressActivity"/>
        <activity android:name=".Activity.SkillProjProgressActivity"/>
        <activity android:name=".Activity.CashRecordActivity"/>
        <activity android:name=".Activity.ReleaseSkillSecondActivity"/>

    </application>

</manifest>