body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:126px;
  top:1590px;
  width:375px;
  height:49px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u1 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:164px;
  top:1597px;
  width:20px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:142px;
  top:1622px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:126px;
  top:1585px;
  width:373px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u7 {
  position:absolute;
  left:335px;
  top:1622px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:243px;
  top:1622px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:447px;
  top:1598px;
  width:22px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:428px;
  top:1622px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:263px;
  top:1598px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:354px;
  top:1598px;
  width:24px;
  height:21px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:154px;
  top:40px;
  width:375px;
  height:740px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:740px;
}
#u20 {
  position:absolute;
  left:2px;
  top:362px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:154px;
  top:40px;
  width:375px;
  height:64px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u22 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:154px;
  top:40px;
  width:375px;
  height:20px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:159px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:167px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:175px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u30 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:183px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u32 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:191px;
  top:50px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:42px;
  width:45px;
  height:20px;
  font-size:11px;
  color:#FFFFFF;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:3px;
  width:45px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:248px;
  top:44px;
  width:16px;
  height:16px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u38 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:321px;
  top:40px;
  width:42px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:5px;
  width:42px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:496px;
  top:48px;
  width:26px;
  height:11px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:11px;
}
#u42 {
  position:absolute;
  left:2px;
  top:-2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:497px;
  top:49px;
  width:23px;
  height:9px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:9px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:522px;
  top:50px;
  width:3px;
  height:5px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:452px;
  top:46px;
  width:42px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:280px;
  top:76px;
  width:123px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:154px;
  top:104px;
  width:375px;
  height:501px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:501px;
}
#u52 {
  position:absolute;
  left:2px;
  top:242px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:155px;
  top:149px;
  width:373px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u54 {
  position:absolute;
  left:161px;
  top:157px;
  width:91px;
  height:39px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u55 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:156px;
  top:74px;
  width:24px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:162px;
  top:482px;
  width:358px;
  height:39px;
  color:#666666;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:39px;
}
#u59 {
  position:absolute;
  left:0px;
  top:12px;
  width:358px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:161px;
  top:111px;
  width:91px;
  height:39px;
  color:#999999;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u61 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:155px;
  top:600px;
  width:373px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u63 {
  position:absolute;
  left:257px;
  top:111px;
  width:269px;
  height:39px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u64 {
  position:absolute;
  left:0px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:161px;
  top:525px;
  width:65px;
  height:60px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u66 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:248px;
  top:525px;
  width:65px;
  height:60px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:336px;
  top:525px;
  width:65px;
  height:60px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:61px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:154px;
  top:196px;
  width:373px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u72 {
  position:absolute;
  left:257px;
  top:158px;
  width:269px;
  height:39px;
  color:#666666;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u73 {
  position:absolute;
  left:0px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:161px;
  top:207px;
  width:91px;
  height:39px;
  color:#999999;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u75 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:257px;
  top:208px;
  width:269px;
  height:39px;
  color:#666666;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u77 {
  position:absolute;
  left:0px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:154px;
  top:247px;
  width:373px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u79 {
  position:absolute;
  left:154px;
  top:615px;
  width:375px;
  height:102px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:102px;
}
#u80 {
  position:absolute;
  left:2px;
  top:43px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:154px;
  top:610px;
  width:373px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u82 {
  position:absolute;
  left:161px;
  top:617px;
  width:99px;
  height:50px;
  color:#999999;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u83 {
  position:absolute;
  left:0px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:280px;
  top:622px;
  width:208px;
  height:39px;
  color:#666666;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u85 {
  position:absolute;
  left:0px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:154px;
  top:661px;
  width:373px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u87 {
  position:absolute;
  left:161px;
  top:667px;
  width:99px;
  height:50px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:50px;
}
#u88 {
  position:absolute;
  left:0px;
  top:17px;
  width:99px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:280px;
  top:672px;
  width:208px;
  height:39px;
  color:#666666;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u90 {
  position:absolute;
  left:0px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:154px;
  top:712px;
  width:373px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u92 {
  position:absolute;
  left:161px;
  top:256px;
  width:91px;
  height:39px;
  color:#999999;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u93 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:154px;
  top:295px;
  width:373px;
  height:10px;
}
#u94_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u94_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u95 {
  position:absolute;
  left:257px;
  top:257px;
  width:269px;
  height:39px;
  color:#666666;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u96 {
  position:absolute;
  left:0px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:161px;
  top:306px;
  width:91px;
  height:39px;
  color:#999999;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u98 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:257px;
  top:307px;
  width:269px;
  height:39px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:39px;
}
#u100 {
  position:absolute;
  left:0px;
  top:12px;
  width:269px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:154px;
  top:347px;
  width:373px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u102 {
  position:absolute;
  left:162px;
  top:404px;
  width:91px;
  height:39px;
  color:#999999;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u103 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:240px;
  top:411px;
  width:269px;
  height:52px;
  line-height:28px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:52px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:155px;
  top:470px;
  width:373px;
  height:10px;
}
#u106_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u106_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u107 {
  position:absolute;
  left:161px;
  top:357px;
  width:91px;
  height:39px;
  color:#999999;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:39px;
}
#u108 {
  position:absolute;
  left:0px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:156px;
  top:396px;
  width:373px;
  height:10px;
}
#u109_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_end {
  position:absolute;
  left:356px;
  top:-5px;
  width:18px;
  height:20px;
}
#u109_line {
  position:absolute;
  left:0px;
  top:5px;
  width:373px;
  height:1px;
}
#u110 {
  position:absolute;
  left:257px;
  top:357px;
  width:231px;
  height:39px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:39px;
}
#u111 {
  position:absolute;
  left:0px;
  top:12px;
  width:231px;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:448px;
  top:80px;
  width:75px;
  height:16px;
  color:#FFFFFF;
  text-align:right;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:341px;
  top:733px;
  width:186px;
  height:45px;
  color:#FFFFFF;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
}
#u115 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:155px;
  top:733px;
  width:186px;
  height:45px;
  color:#FFFFFF;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:45px;
}
#u117 {
  position:absolute;
  left:2px;
  top:14px;
  width:182px;
  word-wrap:break-word;
}
